.navLeft{
    padding-left: 2em;
    padding-right: 2em;
    height: 900px;
    text-align: center;
    background-image: linear-gradient(yellow, red);
    
    
    .profilePicLeft{
        border-radius: 50%;
        width:70%;
    }

    .info{
        text-align: left;
        h3{
            text-align: center;
            padding-bottom: 2em;
        }
    }

    .listMenu{
 
        list-style:none;
        text-align: center;
        padding-left: 0em;
        li{
            padding: 1em;
        }
    }
}

