:root{
  --error-color:tomato;
  --base-color:#fff;
  --background-color:#8abdf7;
  --primary-color: #95aeca;
  --shadow-color:#06f;
  --border-color:#5C5C5C;
  --text-color:#5C5C5C;
  --borderDiscret-color:#8a8787;
  --textDiscret-color:#8a8787;
}