.errorText{
  color:tomato;
}
.linkImg{
	width: 60px;
}
.centerInfo {

	margin-top: 3em;
	margin-left: auto;
	margin-right: auto;
	padding-left: 25%;
	 
	.formsFormat{
		display: flex;
		flex-direction: row;
		div{
			padding: 2em;
			div{
				padding:0em;
			}
		}
	}
}

.leftMenu{
	padding-top: 0em;
    display:flex;
    flex-direction:column;
    display: float;
    position:relative;
    width: 20%;
    position: fixed;
}