.errorText{
  color:tomato;
}

.centerInfo {


	margin-top: 3em;
	margin-left: auto;
	 margin-right: auto;
	 width: 1000px;
	 
	.formsFormat{
		display: flex;
		flex-direction: row;
		div{
			padding: 2em;
			div{
				padding:0em;
			}
		}
	}
}